.link-reset {
    text-decoration: none;
}

.ul-reset {
    list-style: none;
}

h1,
h2,
h3,
ul,
p {
    padding: 0;
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--color-main);
    color: var(--primary-color);
}

.counter-item {
    color: var(--primary-color);
    font-size: 14px;
    font-weight: 700;
    line-height: 1.42;
    letter-spacing: 0.08em;
    box-shadow: -5px 8px 26px rgba(0, 0, 0, 0.04);

    &::before {
        display: block;
        counter-increment: section;
        content: "— 0" counter(section);
        color: var(--accent-color);
        margin-bottom: 8px;

        
    }
}