.link-reset{
  text-decoration: none;
}

.ul-reset {
  list-style: none;
}

h1,
h2,
h3,
ul,
p {
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: var(--color-main);
  color: var(--primary-color);
}
body.modal-open{
  overflow: hidden;
}

html {
  scroll-behavior: smooth;
}

.button-primary {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 15px 50px;
  width: 280px;
  height: 48px;
  border: none;
  font-weight: bold;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  background-color: var(--accent-color);
  color: var(--color-main);
  pointer-events: auto;
  cursor: pointer;
  transition: font-size var(--transition-duration) var(--timing-function),
    background-color var(--transition-duration) var(--timing-function);

  &:hover,
  &:focus {
    font-size: 13px;
    background-color: #ff5500;
    @media screen and (min-width: 1680px) {
      font-size: 15px;
    }
  }

  @media screen and (min-width: 768px) {
    width: 260px;
  }

  @media screen and (min-width: 1680px) {
    width: 354px;
    height: 70px;
    font-size: 14px;
  }
}

.counter-list {
  counter-reset: section;
  list-style-type: none;
  background-color: var(--color-main);
}

.counter-item {
  color: var(--primary-color);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.42;
  letter-spacing: 0.08em;
  // box-shadow: -5px 8px 26px rgba(0, 0, 0, 0.04);

  &::before {
    display: block;
    counter-increment: section;
    content: '— 0' counter(section);
    color: var(--accent-color);
    margin-bottom: 8px;
  }
}
