.container {
    width: 100%;
    padding: 0 20px;
    margin-left: auto;
    margin-right: auto;


    @media screen and (min-width: 480px) {
        width: 480px;
    }

    @media screen and (min-width: 768px) {
        width: 768px;
        padding: 0 32px;
    }

    @media screen and (min-width: 1680px) {
        width: 1680px;
        padding: 0 16px;
    }
}