:root {
  --primary-color: #111518;
  --color-main: #ffffff;
  --primary-color-text: #b9b9b9;
  --accent-color: #ff6b09;
  --guarantee-graduates-text: #3d3d3d;
  --guarantee-section-color: #f1f1f1;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --transition-duration: 250ms;
}
