<section class="section about" id="about">
  <div class="container">
    <h2 class="about__title">Teacher</h2>

    <div class="about__wrapper">
      <picture class="about__img">
        <source
          srcset="
            ./images/teacher/teacher-desktop.webp    1x,
            ./images/teacher/teacher-desktop@2x.webp 2x
          "
          media="(min-width: 1680px)"
          type="image/webp"
        />
        <source
          srcset="
            ./images/teacher/teacher-desktop.jpg    1x,
            ./images/teacher/teacher-desktop@2x.jpg 2x
          "
          media="(min-width: 1680px)"
        />
        <source
          srcset="
            ./images/teacher/teacher-mob-tab.webp    1x,
            ./images/teacher/teacher-mob-tab@2x.webp 2x
          "
          type="image/webp"
        />
        <source
          srcset="
            ./images/teacher/teacher-mob-tab.jpg    1x,
            ./images/teacher/teacher-mob-tab@2x.jpg 2x
          "
        />

        <img src="./images/teacher/teacher-desktop.webp" alt="Teacher" />
      </picture>

      <div class="about__descr">
        <h3 class="about__name">Elena Morozova</h3>
        <ul class="ul-reset about__list">
          <li class="about__list-item">6 yeards of experience in preparing students for UPE</li>
          <li class="about__list-item">Own result of passing VNO - 197 points 2 years in a row</li>
          <li class="about__list-item">
            Passed excellent at the international analogue of UPE - Cambridge PET (Preliminary
            English Test)
          </li>
        </ul>

        <p class="about__text about__text--margin">
          Graduated from the Institute of International Relations of the NAU with a degree in
          translator-analyst.
        </p>
        <p class="about__text about__text--margin">
          In spare time takes courses from the best universities in the world on effective teaching
          and essay writing techniques.
        </p>
        <p class="about__text">
          Completed: English Grammar and Essay Writing (Berkeley), English Grammar & Style (The
          University of Queesland), How to Write an Essay (Berkeley), Academic and Business Writing
          (Berkeley), The Art of Teaching (GEMS education), Powerful Tools for Teaching and Learning
          (University of Houston).
        </p>

        <a href="./images/certificate.jpg" target="_blank" class="link-reset about__link"
          >Cambridge English Entry Level Certificate</a
        >
      </div>
    </div>
  </div>
</section>
