
    <section class="section">
        <div class="container">
            <h2 class="visually-hidden">Advantages</h2>

            <div class="advantages-container">
                <ul class="advantages__list ul-reset">

                    <li class="advantages__item image--first">
                        Adapted author's <br> UPE program
                        
                    </li>

                    <li class="advantages__item image--second">
                        Modern <br> teaching methods
                    </li>

                    <li class="advantages__item image--third">
                    Financial guarantee <br> the result
                        
                    </li>
                </ul>
            </div>
        </div>
    </section>
