<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <section class="advantages">
        <div class="container">
            <h2 class="visually-hidden">Advantages</h2>

            <div class="advantages-container">
                <ul class="advantages__list ul-reset">

                    <li class="advantages__item">
                        <p class="advantages__text advantages__text--first">Adapted author's <br> UPE program
                        </p>
                    </li>

                    <li class="advantages__item">
                        <p class="advantages__text advantages__text--second">Modern <br> teaching methods
                        </p>
                    </li>
                    
                    <li class="advantages__item">
                        <p class="advantages__text advantages__text--third">Financial guarantee <br> the result
                        </p>
                    </li>
                </ul>
            </div>
        </div>
    </section>
</body>

</html>