<section class="benefits-section section">

<div class=" benefits container ">
    <h2 class="benefits__head"> Why do people choose us</h2>
    <ul class="ul-reset benefits__list counter-list">
        <li class="benefits__item counter-item">Training in small groups</li>
        <li class="benefits__item counter-item">Rendered notes</li>
        <li class="benefits__item counter-item">Each lesson has a goal and a specific result</li>
        <li class="benefits__item counter-item">The real results of the teacher</li>
        <li class="benefits__item counter-item">The course program meets the requirements of the MES of Ukraine</li>
        <li class="benefits__item counter-item"> Set of groups by level of knowledge</li>
    </ul>
</div>
</section>