<section class="section contacts" id="contacts">
    <div class="container">
        <h2 class="visually-hidden">Call back</h2>
        <p class="contacts__text-primary">Registration for a <span class="colorized">free </span>phone <span
                class="colorized">consultation</span> on the nuances of English UPE</h2>
        <div class="text-wrapper">
            <p class="contacts__text-secondary">Leave a request for participation in a <span class="colorized">free lesson</span>.
                <br>A consultant will contact you and answer your questions</p>
        </div>
        <form class="form" method="post">
                <input class="form__field form__field--name" type="text" pattern="[a-z, A-Z]{2,20}" placeholder="Name*">
                <input class="form__field form__field--tel" type="tel" pattern="[0-9, +]{10,13}" placeholder="Phone*">
                <button class="button-primary button-primary--resize" type="submit">I want a free lesson</button>
        </form>
    </div>
</section>