<!----<section class="section section-form">
    <div class="container">
        <form class="form" method="post">
            
            <h2 class="form__title">Registration for a <span class="colorized">free </span>phone <span class="colorized">consultation</span> on the nuances of English UPE</h2>
            <div class="text-wrapper">
                <p class="form__text">Leave a request for participation in a <span class="colorized">free lesson</span>. <br>A consultant will contact you and answer your questions</p>
            </div>
            <div class="input-wrapper">  
                <input class="form__field form__field--name" type="text" pattern="[a-z, A-Z]{2,20}" placeholder="Name*">
                <input class="form__field form__field--tel" type="tel" pattern="[0-9]{10,12}" placeholder="Phone*" >
                <button class="button-primary button-primary--resize" type="submit">I want a free lesson</button>
            </div>
        </form>
    </div>
</section>