<header>
  <div class="container">
    <div class="header-components">
      <a href="#" class="logo link-reset">
        <span class="logo__first-line">
          Hell
          <svg width="22" height="30">
            <use href="././images/symbol-defs.svg#fire-in-guarantee"></use>
          </svg>
          EN
        </span>
        <span class="logo__second-line"> <span class="text-accent">HELLISH </span>english</span>
      </a>
      <nav class="navigation">
        <ul class="navigation__list ul-reset">
          <li><a href="#program" class="navigation__link link-reset">Studying program</a></li>
          <li><a href="#about" class="navigation__link link-reset">about</a></li>
          <li><a href="#how-we-do" class="navigation__link link-reset">training options</a></li>
          <li><a href="#contacts" class="navigation__link link-reset">contacts</a></li>
          
        </ul>
      </nav>
      <button type="button" class="consultation-btn" data-modal-open>consultation by phone</button>
      <button type="button" class="mobile-menu__btn" data-menu-open>
        <svg class="menu" width="21" height="12">
          <use href="././images/symbol-defs.svg#menu"></use>
        </svg>
      </button>
    </div>
    <div class="mobile-menu" data-menu>
      <div class="container">
        <div class="mobile-menu__header">
          <a href="#" class="logo logo--mobile-menu link-reset">
            <span class="logo__first-line">
              Hell
              <svg width="22" height="30">
                <use href="././images/symbol-defs.svg#fire-in-guarantee"></use>
              </svg>
              EN
            </span>
            <span class="logo__second-line"> <span class="text-accent">HELLISH </span>english</span>
          </a>
          <button type="button" class="mobile-menu__btn--close" data-menu-close>
            <svg width="16" height="16">
              <use class="icon-close" href="././images/symbol-defs.svg#close-icon"></use>
            </svg>
          </button>
        </div>
        <ul class="mobile-menu__list ul-reset">
          <li><a href="#program" class="mobile-menu__item link-reset">Studying program</a></li>
          <li><a href="#about" class="mobile-menu__item link-reset">About</a></li>
          <li><a href="#how-we-do" class="mobile-menu__item link-reset">Training options</a></li>
          <li><a href="#contacts" class="mobile-menu__item link-reset">Contacts</a></li>
        </ul>
        <button type="button" class="consultation-btn--mobile">consultation by phone</button>
      </div>
    </div>
  </div>
  <div class="backdrop is-hidden" data-modal>
    <div class="modal">
      <button type="button" class="modal-btn" data-modal-close>
        <svg width="17" height="17" class="close-icon-modal">
          <use href="././images/symbol-defs.svg#close-icon"></use>
        </svg>
      </button>
    </div>
  </div>
  <script src="././js/modal.js"></script>
  <script src="././js/menu.js"></script>
</header>
