<header>
  <div class="container">
    <a href="#" class="logo link-reset">
      <span class="logo__first-lane">
        Hell
        <svg width="22" height="30">
          <use href="././images/symbol-defs.svg#fire-in-guarantee"></use>
        </svg>
        EN
      </span>
      <span class="logo__second-lane"> <span class="text-accent">HELLISH</span>english</span>
    </a>
    <nav>
      <ul class="ul-reset">
        <li><a href="#program" class="link-reset">Studying program</a></li>
        <li><a href="#about" class="link-reset">about</a></li>
        <li><a href="#how-we-do" class="link-reset">training options</a></li>
        <li><a href="#contacts" class="link-reset">contacts</a></li>
      </ul>
    </nav>
    <button type="button">consultation by phone</button>
    <button type="button" class="mobile-menu__btn">
      <svg width="21" height="12" aria-label="mobile menu switch" aria-controls="menu-container">
        <use class="icon-menu" href="././images/symbol-defs.svg#burger-menu"></use>
      </svg>
    </button>
    <div class="mobile-menu">
      <button type="button" class="mobile-menu__btn mobile-menu__btn--close">
        <svg width="16" height="16" aria-label="mobile menu switch" aria-controls="menu-container">
          <use class="icon-close" href="././images/symbol-defs.svg#close-icon"></use>
        </svg>
      </button>
      <ul class="ul-reset">
        <li><a href="#program" class="link-reset">Studying program</a></li>
        <li><a href="#about" class="link-reset">About</a></li>
        <li><a href="#how-we-do" class="link-reset">Training options</a></li>
        <li><a href="#contacts" class="link-reset">Contacts</a></li>
      </ul>
      <button type="button">consultation by phone</button>
    </div>
  </div>
</header>
