<section class="hero">
  <div class="hero-container container">
    <div class="hero__right-side">
      <h1 class="hero-container__main-title">Complex preparation for English UPE</h1>
      <p class="hero-container__paragraph">
        <span class="first"> It won't be easy.</span><br class="one" />
        <span class="paragraph-characteristic"
          >But you're guaranteed to get<span class="second"
            ><br class="two" />
            +25 points</span
          ></span
        >
      </p>
      <a class="hero-button link-reset" href="#contacts"> I want a free lesson</a>
    </div>
    <div class="hero__picture">
      <picture>
        <source
          srcset="images/hero-desktop.webp 1x, images/hero-desktop@2.webp 2x"
          media="(min-width:1680px)"
          type="image/webp"
        />
        <source
          srcset="images/hero-desktop.png 1x, images/hero-desktop@2.png 2x"
          media="(min-width:1680px)"
        />
        <source
          srcset="images/hero-tablet.webp 1x, images/hero-tablet@2.webp 2x"
          media="(min-width:768px)"
          type="image/webp"
        />
        <source
          srcset="images/hero-tablet.png 1x, images/hero-tablet@2.png 2x"
          media="(min-width:768px)"
        />
        <source
          media="(min-width:480px)"
          srcset="images/hero-mobile.webp 1x, images/hero-mobile@2.webp 2x"
          type="image/webp"
        />
        <source
          media="(max-width:767px)"
          srcset="images/hero-mobile.png 1x, images/hero-mobile@2.png 2x"
        />
        <img src="images/hero-mobile.png" alt="Main" />
      </picture>
    </div>
  </div>
</section>
