

<h2>How do we do it</h2>

<ul class="how-we-do-it__list ul-reset">
    <li class="how-we-do-it__item"><a href="" class="how-we-do-it__link"><svg class="how-we-do-it__icon">
                <use></use>
            </svg>
            <div class="how-we-do-it__divider"></div><span class="how-we-do-it__text">Lorem ipsum dolor sit amet.</span>
        </a></li>
    <li class="how-we-do-it__item"><a href="" class="how-we-do-it__link"><svg class="how-we-do-it__icon">
                <use></use>
            </svg>
            <div class="how-we-do-it__divider"></div><span class="how-we-do-it__text">Lorem ipsum dolor sit amet.</span>
        </a></li>
    <li class="how-we-do-it__item"><a href="" class="how-we-do-it__link"><svg class="how-we-do-it__icon">
                <use></use>
            </svg>
            <div class="how-we-do-it__divider"></div><span class="how-we-do-it__text">Lorem ipsum dolor sit amet.</span>
        </a></li>
    <li class="how-we-do-it__item"><a href="" class="how-we-do-it__link"><svg class="how-we-do-it__icon">
                <use></use>
            </svg>
            <div class="how-we-do-it__divider"></div><span class="how-we-do-it__text">Lorem ipsum dolor sit amet.</span>
        </a></li>
</ul>