<div class="container problems-section">
    <h2 class="problems-section__head">The main problems of students in English UPE, which we help to solve</h2>

    <ul class="promlems-list">
      
      <li class="problems-items">Grammar</li>
      <li class="problems-items">Inability to understand spoken English</li>
      <li class="problems-items">Stingy vocabulary for writing an essay</li>
      <li class="problems-items">Preparing alone</li>
      <li class="problems-items">Lack of a single knowledge resource</li>
      <li class="problems-items">Lack of self-organization and laziness</li>
  </ul>
  </div>