<section class="program" id="program">
  <div class="container program--container">
    <h2 class="program__title">Our program</h2>
    <div class="program__container">
      <ul class="semester ul-reset">
        <li class="semester__list">
          <h3 class="semester-title">1 semester</h3>
          <ul class="semester-plan ul-reset">
            <li class="semester-plan__list">
              <h4 class="semester-plan__title">Grammar</h4>
              <p class="semester-plan__description">Nouns & Articles<br />Adjectives & Adverb</p>
            </li>
            <li class="semester-plan__list">
              <h4 class="semester-plan__title">Vocabulary</h4>
              <p class="semester-plan__description">Family & Relations<br />People & Society</p>
            </li>
          </ul>
        </li>
        <li class="semester__list">
          <h3 class="semester-title">2 semester</h3>
          <ul class="semester-plan ul-reset">
            <li class="semester-plan__list">
              <h4 class="semester-plan__title">Grammar</h4>
              <p class="semester-plan__description">
                Pronouns<br />Active Voice<br />Passive Voice
              </p>
            </li>
            <li class="semester-plan__list">
              <h4 class="semester-plan__title">Vocabulary</h4>
              <p class="semester-plan__description">Home<br />School<br />Work</p>
            </li>
          </ul>
        </li>
        <li class="semester__list">
          <h3 class="semester-title">3 semester</h3>
          <ul class="semester-plan ul-reset">
            <li class="semester-plan__list">
              <h4 class="semester-plan__title">Grammar</h4>
              <p class="semester-plan__description">
                Modal verbs<br />Infinitive<br />Gerund<br />Participle: 1, 2
              </p>
            </li>
            <li class="semester-plan__list">
              <h4 class="semester-plan__title">Vocabulary</h4>
              <p class="semester-plan__description">
                Travel & Tourism<br />Culture & Free Time<br />Sport
              </p>
            </li>
            <li class="semester-plan__list">
              <h4 class="semester-plan__title">Writing</h4>
              <p class="semester-plan__description">Informal Letter</p>
            </li>
          </ul>
        </li>
        <li class="semester__list">
          <h3 class="semester-title">4 semester</h3>
          <ul class="semester-plan ul-reset">
            <li class="semester-plan__list">
              <h4 class="semester-plan__title">Grammar</h4>
              <p class="semester-plan__description">
                Clauses: Conditional and Wishes<br />Direct / Reported speech<br />Preposition<br />Conjunction<br />Numeral
              </p>
            </li>
            <li class="semester-plan__list">
              <h4 class="semester-plan__title">Vocabulary</h4>
              <p class="semester-plan__description">
                Healthy Living<br />Nature & Environment<br/>Money
              </p>
            </li>
            <li class="semester-plan__list">
              <h4 class="semester-plan__title">Writing</h4>
              <p class="semester-plan__description">Formal Letter</p>
            </li>
          </ul>
        </li>
        <li class="semester__list">
          <h3 class="semester-title semester-title__decorative-element">5 semester</h3>
          <ul class="semester-plan ul-reset">
            <li class="semester-plan__list">
              <h4 class="semester-plan__title hidden-title">finish test</h4>
              <p class="semester-plan__description semester-plan__description--position">
                Revision<br />Tests
              </p>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</section>
