<section class="reviews-section container">
  <div class="section-arrow-left"></div>
  <div class="reviews">
    <h2 class="reviews__title">Feedback from graduates</h2>
    <div class="reviews__comment">
      <div class="reviews__item">
        <ul class="ul-reset reviews__photo">
          <li class="comment__images">
            <picture class="comment__picture">
              <source
                srcset="
                  ./images/reviews/kucherovskaya-desktop.jpg    1x,
                  ./images/reviews/kucherovskaya-desktop@2x.jpg 2x
                "
                media="(min-width: 1680px)"
              />

              <source
                srcset="
                  ./images/reviews/kucherovskaya-tablet.jpg    1x,
                  ./images/reviews/kucherovskaya-tablet@2x.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./images/reviews/kucherovskaya-mobile.jpg    1x,
                  ./images/reviews/kucherovskaya-mobile@2x.jpg 2x
                "
                media="(max-width: 767px)"
              />
              <img
                src="./images/reviews/kucherovskaya-mobile.jpg"
                alt="Photo Tonya Kucherovskaya"
              />
            </picture>
          </li>
          <li class="comment__social-item">
            <a class="" href="">
              <svg class="comment__symbol" width="30" height="30">
                <use href="./images/symbol-defs.svg#vk"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>

      <article class="comment">
        <h3 class="comment__title">Tonya Kucherovskaya</h3>
        <p class="comment__subtitle">
          Graduated from 2015, National University of Bioresources and natural history of Ukraine
        </p>
        <p class="comment__text">
          In a short time with Elena, I mastered grammar and replenished my completely empty
          vocabulary. From the first lesson I realized that I was on my plate. Elena and I became
          friends because she was really worried about my success. She became an authority for me,
          but I did not tremble in class, fearing to make the slightest mistake. Now I can brag that
          I'm student... <span class="comment__text-item">Read more</span>
        </p>
      </article>
    </div>

    <div class="other-comments__item">
      <div class="left-arrow"></div>
      <ul class="ul-reset other-comments">
        <li class="list-item">
          <a href="">
            <img src="./images/reviews/comment-image1.jpg" alt="" />
          </a>
        </li>
        <li class="list-item">
          <a href="">
            <img src="./images/reviews/comment-image2.jpg" alt="" />
          </a>
        </li>
        <li class="list-item">
          <a href="">
            <img src="./images/reviews/comment-image3.jpg" alt="" />
          </a>
        </li>
        <li class="list-item">
          <a href="">
            <img src="./images/reviews/comment-image4.jpg" alt="" />
          </a>
        </li>
        <li class="list-item">
          <a href="">
            <img src="./images/reviews/comment-image5.jpg" alt="" />
          </a>
        </li>
        <li class="list-item">
          <a href="">
            <img src="./images/reviews/comment-image6.jpg" alt="" />
          </a>
        </li>
        <li class="list-item">
          <a href="">
            <img src="./images/reviews/comment-image7.jpg" alt="" />
          </a>
        </li>
      </ul>
      <div class="right-arrow"></div>
    </div>
  </div>
  <div class="section-arrow-right"></div>
</section>
