.section.about {
    padding-top: 0;
}

.about__title {
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 1.3;
    letter-spacing: 0.03em;    
    margin-bottom: 20px;
}

.about__img {
    display: block;

    @media screen and (max-width: 767.98px) {
        margin-bottom: 20px;
    }
}

.about__name {
    display: block;
    font-weight: 800;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.08em;
    padding-bottom: 8px;
    border-bottom: 1px solid #B9B9B9;
    margin-bottom: 20px;
}

.about__list {
    margin-bottom: 26px;

    &::after {
        content: '';
        display: block;
        width: 20px;
        height: 2px;
        background-color: var(--accent-color);
        margin-top: 42px;
}
}

.about__list-item {
    display: flex;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.21;
    letter-spacing: 0.06em;


    &:not(:last-child) {
        margin-bottom: 24px;
    }

    &::before {
        flex-shrink: 0;
        margin-right: 10px;
        content: '';
        display: block;
        width: 18px;
        height: 14px;
        background-image: url(../images/icons/tick-icon.svg);
    }
}

.about__text {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.67;   
    color: var(--primary-color-text);
  
}

.about__link {    
    display: inline-block;
    border-radius: 5px;
    margin-top: 18px;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.67;
    text-decoration-line: underline;
    color: var(--accent-color);
    cursor: pointer;
    transition: transform var(--transition-duration) var(--timing-function);

    &:hover, &:focus {
        transform: scale(1.1);
    }
}

@media screen and (min-width: 768px) {

    .about__title {
        font-size: 26px;
        margin-bottom: 40px;
    }
    
    .about__wrapper {
        display: flex;
    }

    .about__img {
        margin-right: 60px;
    }

    .about__descr {
        width: 402px;
    }

    .about__list::after {
        margin-top: 54px;
    }

    .about__list-item {
        font-size: 12px;
        line-height: 1.25;

        &:not(:last-child) {
            margin-bottom: 36px;
        }
    }

    .about__text {
        font-size: 10px;
        line-height: 2;
    }

    .about__link {
        margin-top: 24px;
    }
}

@media screen and (min-width: 1680px) {

    .about__title {
        font-size: 46px;
        margin-bottom: 80px;
    }

    .about__img {
        margin-right: 172px;
    }

    .about__descr {
        width: 668px;
    }

    .about__name {
        font-size: 30px;
        line-height: 1.23;
    }

    .about__list {
        margin-bottom: 30px;

        &::after {
            margin-top: 50px;
        }
    }

    .about__list-item {
        font-size: 16px;
    }

    .about__text {
        font-size: 18px;
        line-height: 1.56;
    }
    
    .about__text--margin {
        margin-bottom: 22px;        
    }

    .about__link {
        font-size: 18px;
        line-height: 1.55;
        margin-top: 48px;
    }
}

