.advantages__list {
  height: 246px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  @media screen and (min-width: 768px) {
    flex-direction: row;
    height: 100%;
  }
}

.advantages__item {
  display: flex;
  align-items: center;
  color: var(--primary-color);
  font-size: 14px;
  font-family: inherit;
  font-weight: 700;
  line-height: 1.65;
  letter-spacing: 0.08em;

  @media screen and (min-width: 768px) {
    font-size: 14px;
  }
  @media screen and (min-width: 1680px) {
    position: relative;
    font-size: 20px;
  }
}
.image--first::before {
  content: '';
  background-size: cover;
  background-image: url(/images/icon-first.svg);
  height: 60px;
  width: 59px;

  @media screen and (min-width: 768px) {
    height: 60px;
    width: 59px;
  }
  @media screen and (min-width: 1680px) {
    height: 102px;
    width: 100px;
  }
}
.image--second::before {
  content: '';
  background-size: cover;
  background-image: url(/images/icon-second.svg);
  height: 60px;
  width: 59px;
  @media screen and (min-width: 768px) {
    height: 60px;
    width: 59px;
  }
  @media screen and (min-width: 1680px) {
    height: 102px;
    width: 100px;
  }
}
.image--third::before {
  content: '';
  background-size: cover;
  background-image: url(/images/icon-third.svg);
  height: 60px;
  width: 59px;
  @media screen and (min-width: 768px) {
    height: 60px;
    width: 59px;
  }
  @media screen and (min-width: 1680px) {
    height: 102px;
    width: 100px;
  }
}

.advantages__item::before {
  @media screen and (min-width: 480px) {
    margin-right: 10px;
  }
  @media screen and (min-width: 1680px) {
    margin-right: -13px;
  }
}
