.benefits-section {
    z-index: 1;
    background-image: linear-gradient(var(--primary-color)64%, var(--color-main)64%); 
   
}

.benefits__head {
    font-size: 20px;
    font-weight: 800;
    line-height: 1.22;
    letter-spacing: 0.03em;
    color:var(--color-main);
    vertical-align: top;
}
    
.benefits__list {
    position: relative;
    padding: 20px  24px 20px 20px;
    box-shadow: -5px 8px 26px rgba(0, 0, 0, 0.04);
}

.benefits__item {
    color: var(--primary-color);
    font-size: 14px;
    font-weight: 700;
    line-height: 1.64;
    letter-spacing: 0.08em;
    max-width: 236px;
  }


@media screen and (max-width:1679px) {
    .benefits__item {
        width: 236px;
    }
}

@media screen and (max-width:767px) {
    .benefits__head {
        text-align: left;
        max-width: 180px;
        margin-bottom: 32px;
    }

    .benefits__item:not(:last-child) {
        margin-bottom: 40px;
        }
}
@media screen and (min-width:768px) and (max-width:1679px) {
    .benefits-section {
        // padding-left: 40px;
        // padding-right: 40px;
        background-image: linear-gradient(var(--primary-color)40%, var(--color-main)40%)
    }
    
    .benefits__head {
        font-size: 26px;
        line-height: 1.3;
        margin-bottom: 40px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
     }

     .benefits__list {
         display: flex;
         flex-wrap: wrap;
         padding-top: 40px;
         padding-left: 92px;
         
     }

        
      .benefits__item {
          width: 236px;
          margin-bottom: 44px;
          &:nth-child(even) {
              margin-left: 32px;
          }

          
      }       
   
}

@media screen and (min-width:1680px) {

    .benefits-section {
        padding-top: 0;
    }

    .benefits__list {
        display: flex;
        flex-wrap: wrap;
        padding-left: 140px;
        padding-top: 60px;
        padding-bottom: 60px;
        
    }

    .benefits__head {
        display: none;
    }
     .benefits__item {
        font-size: 20px;
        min-width:356px;
        
        &:nth-child(-n+3){
            margin-bottom: 40px;
        }
       
       &:not(:nth-child(3n+3)) {
           margin-right:204px;
       }
       
        
     }

    
}