.benefits-section {
    background-color: grey;
    display: flex;
    flex-wrap: wrap;
}


.benefits-section__head {
    font-size: 20px;
    font-weight: 800;
    line-height: 1.22;
    letter-spacing: 0.03em;
    color: var(--color-main);
    vertical-align: top;  
}

.benefits-list {
    padding: 50px 24px 20px 20px;
    background-color: var(--color-main);
    box-shadow: -5px 8px 26px rgba(0, 0, 0, 0.04);
}

.benefits-item {
    color: var(--primary-color);
    font-size: 14px;
    font-weight: 700;
    line-height: 1.42;
    letter-spacing: 0.08em;

    &:not(:last-child) {
        margin-bottom: 70px;
    }
}

.counter-list {
    counter-reset: section;
    list-style-type: none;
    position: relative;
}

.counter-item::before {
    position: absolute;
    counter-increment: section;
    content: "— 0" counter(section);
    color: var(--accent-color);
    transform: translateY(-30px);
}

@media screen and (max-width:767px) {
    .benefits-section__head {
        text-align: left;
        max-width: 180px;
        margin-bottom: 32px;
    }
}
@media screen and (min-width:768px) {
    .benefits-section {
        padding-left: 40px;
        padding-right: 40px;
    }
    
    .benefits-section__head {
        font-size: 26px;
        line-height: 1.3;
        margin-bottom: 40px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
     }

     .benefits-list {
         display: flex;
         flex-wrap: wrap;
         padding-top: 70px;
         padding-left: 92px;
         padding-right:92px;
        
        
         
         
     }

     .benefits-item {
         flex-basis: calc((100%-64px)/2);
         max-width: 236px ;
          
         &:nth-child(2n+1) {
             margin-right: 32px;
         }
        
             
     }

}