.contacts{
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: rgba(17, 21, 24, 1);
    background-image: url(../images/contacts/contacts-bg_480px.png); 

    @media screen and (min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
            background-image: url(../images/contacts/contacts-bg_480px@2x.png);
        }

    &__text-primary {
        margin-bottom: 24px;
        text-align: center;
        font-weight: 800;
        font-size: 14px;
        line-height: 1.30;
        letter-spacing: 0.03em;
        color: var(--color-main);
    }

    &__text-secondary {
        margin-bottom: 40px;
        text-align: center;
        font-weight: 600;
        font-size: 12px;
        line-height: 1.25;
        letter-spacing: 0.08em;
        color: var(--color-main);
    }
}
.colorized {
    color: var(--accent-color);
}
.form {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__field{
        height: 48px;
        width: 100%;
        padding-left: 28px;
        background-color: transparent;
        border: 1px solid var(--color-main);
        outline: none;
        color: var(--color-main);
        
        
        &::placeholder{
            font-size: 14px;
            line-height: 1.21;
            color: var(--color-main);
        }
        &--name{
            margin-bottom: 20px;
        }
        &--tel{
            margin-bottom: 40px;
        }
    }
}
.form__field:invalid {
    border: rgb(255, 42, 42) solid 3px;
}
.form__field:focus-within.form__field:valid{
    border: greenyellow solid 3px;
}

.button-primary--resize{
    width: 100%;
}

@media screen and (min-width: 768px){
    .contacts{
        background-size: 860px;
        background-image: url(../images/contacts/contacts-bg_768px.png/);
        
        @media screen and (min-device-pixel-ratio: 2),
            screen and (min-resolution: 192dpi),
            screen and (min-resolution: 2dppx) {
                background-image: url(../images/contacts/contacts-bg_768px@2x.png);
            }
   
        &__text-primary {
            margin: 0 auto 40px;
            font-size: 26px;
        }
        &__text-secondary {
            font-size: 14px;
        }
    }
    .form{
        margin: 0 auto;
        max-width: 336px;
        &__field--name{
            margin-bottom: 32px;
        }
    }
    .text-wrapper{
        margin: 0 auto;
        max-width: 452px;
    }

}

@media screen and (min-width: 1680px){
    .contacts {
        background-size: 1680px;
        background-image: url(../images/contacts/contacts-bg_1680px.png/);

        @media screen and (min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
            background-image: url(../images/contacts/contacts-bg_1680px@2x.png);
        }
    
        &__text-primary {
            max-width: 1090px;
            margin-bottom: 40px;
            font-size: 46px;
        }
    
        &__text-secondary {
            margin-bottom: 60px;
            font-size: 30px;
        }
    }
    .form{
        max-width: 528px;

        &__field {
            width: 100%;
            height: 70px;

            &--name{
                margin-bottom: 32px;
            }
            &--tel{
                margin-bottom: 40px;
            }

            &::placeholder {
                font-size: 20px;
            }
        }
    }
    .text-wrapper {
        max-width: 1090px;
    }
}