.container__background--white {
  background-color: var(color-main);
  @media screen and (max-width: 479px) {
    padding-top: 44px;
    padding-bottom: 40px;
    align-items: center;
  }
  @media screen and (min-width: 480px) {
    padding-top: 51px;
    padding-bottom: 50px;
  }
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  @media screen and (min-width: 1680px) {
    padding-top: 84px;
    padding-bottom: 82px;
  }
}
.footer__logo {
  @media screen and (max-width: 767.98px) {
    display: block;
    text-align: center;
    margin-bottom: 20px;
  }
  @media screen and (min-width: 1680px) {
    position: absolute;
    margin-left: 16px;
  }
  @media screen and (min-width: 768px) and (max-width: 1679px) {
    margin-left: 32px;
  }
}
.container__background--black {
  background-color: var(--primary-color);
  padding-top: 24px;
  padding-bottom: 24px;
}
.bckgr-text {
  color: var(--primary-color-text);
  font-size: 14px;
  font-family: inherit;
  font-weight: 500;
  line-height: 2;
  letter-spacing: 0.08em;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer__link--tel {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--primary-color);
  font-family: inherit;
  font-weight: 600;
  letter-spacing: 0.08em;
  line-height: 1.2;
  @media screen and (max-width: 767.98px) {
    margin-bottom: 20px;
  }
  @media screen and (max-width: 479px) {
    font-size: 14px;
  }
  @media screen and (min-width: 480px) {
    font-size: 20px;
  }
  @media screen and (min-width: 768px) {
    margin-right: 24px;
    &::after {
      content: '';
      margin-left: 16px;
      display: block;
      width: 1px;
      height: 40px;
      background-color: var(--primary-color-text);
    }
  }
  @media screen and (min-width: 1680px) {
    font-size: 30px;
  }
}
.address__icon--tel {
  margin-right: 8px;
  @media screen and (max-width: 479px) {
    width: 20px;
    height: 20px;
  }
  @media screen and (min-width: 480px) {
    width: 24px;
    height: 23px;
  }
  @media screen and (min-width: 1680px) {
    width: 30px;
    height: 29px;
  }
}
.footer__address {
  @media screen and (min-width: 768px) {
    display: flex;
  }
  @media screen and (min-width: 1680px) {
    margin-left: auto;
    margin-right: auto;
  }
}
.footer__address {
  @media screen and (min-width: 748px) and (max-width: 1679px) {
    justify-content: end;
    align-content: flex-end;
    margin-right: 30px;
  }
}
.address__image {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 25%;
  background: linear-gradient(
      299.36deg,
      rgba(161, 181, 216, 0) 61.06%,
      rgba(144, 162, 189, 0.309804) 110.82%,
      rgba(124, 139, 156, 0.756863) 182.56%,
      #748290 221.9%
    ),
    linear-gradient(
      180deg,
      rgba(250, 225, 0, 0) 41.26%,
      rgba(252, 168, 0, 0.305882) 65.21%,
      rgba(254, 115, 0, 0.627451) 90.26%,
      rgba(255, 82, 0, 0.866667) 109.08%,
      #ff4500 119.35%
    ),
    radial-gradient(
      110.28% 110.28% at 20.5% 87.39%,
      #fae100 0%,
      #fadc04 5.44%,
      #fbce0e 11.67%,
      #fcb720 18.29%,
      #fe9838 25.14%,
      #ff7950 30.54%,
      #ff1c74 49.22%,
      #6c1cd1 100%
    );
}
.address__icon {
  width: 25px;
  height: 25px;
  border-radius: 25%;
  background: linear-gradient(314.85deg, rgba(131, 58, 180, 0) 68.66%, #833ab4 99.14%);
}
