.section.guarantee {
    padding-top: 0;
}

@media screen and (max-width: 767.98px) {

    .guarantee {
            background-image:
                linear-gradient(to bottom,
                #ffff 72px,
                var(--guarantee-section-color) 72px);
        }

}

.guarantee__title {
    text-align: center;    
    font-weight: 800;
    font-size: 26px;
    line-height: 1.3;
    letter-spacing: 0.03em;
    color: var(--primary-color);

    @media screen and (max-width: 767.98px) {
        margin-bottom: 80px;        
    }
}

.guarantee__item {
    position: relative;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.67;
    color: var(--guarantee-graduates-text);
    padding-left: 28px;

    &:not(:last-child) {   
        padding-bottom:24px;
        border-left: 1px dashed #B9B9B9;;
    }  

    &::before {
        display: block;
        width: 15px;
        height: 20px;
        position: absolute;
        transform: translateX(-35px);
        content: '';
        background-image: url(../images/campfire.svg);
    }
}

.guarantee__accent {
    color: var(--accent-color);
}

@media screen and (min-width: 768px) {
    .section.guarantee {
        padding-bottom: 0;
    }

    .guarantee__title {
        margin-bottom: 40px;
    }

    .guarantee__list {
        background-color: var(--guarantee-section-color);
        padding: 32px 58px 32px 87px;
    }

    .guarantee__item:not(:last-child) {
        padding-bottom: 20px;
    }

}

@media screen and (min-width: 1680px) {

    .guarantee__title {
        font-size: 46px;
    }

    .guarantee__list {
        padding: 60px 280px;
    }

    .guarantee__item {
        font-size: 20px;
        line-height: 1.4;
    }
}