.hero{
padding-top: 40px;
}

.hero-container__main-title{
  margin-bottom: 8px;

  font-weight: 800;
   Font-size: 20px;
  line-height: 1.3;
  letter-spacing: 0.03em;

  color: var(--primary-color);
}
.hero-container__paragraph{
  margin-bottom: 40px;
}
.paragraph-characteristic{
  font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.57;
    letter-spacing: 0.08em;

}
.first{
  font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.57;
    letter-spacing: 0.08em;

  color: #B9B9B9;
}
.second{
  color: var(--accent-color);
}