.hero{
padding-top: 40px;
padding-bottom: 60px;
background-image: url(/images/heroImages/mobile-wave.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: local;
  background-position-y: 85%;
}

.hero-container__main-title{
  margin-bottom: 8px;

  font-weight: 800;
  font-size: 20px;
  line-height: 1.3;
  letter-spacing: 0.03em;

  color: var(--primary-color);
}
.hero-container__paragraph{
  margin-bottom: 40px;
}
.paragraph-characteristic{
  font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.57;
    letter-spacing: 0.08em;

}
.hero-button{
  display: flex;
    align-items: center;
    justify-content: center;

    padding: 0;
    width: 280px;
    height: 48px;
    border: none;
    font-weight: bold;
    font-size: 12px;
    line-height: 1.25;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    background-color: var(--accent-color);
    color: var(--color-main);
    pointer-events: auto;
    cursor: pointer;

      transition: font-size var(--transition-duration) var(--timing-function),
      background-color var(--transition-duration) var(--timing-function);

  &:hover,
    &:focus {
      font-size: 13px;
      background-color: #ff5500;
        @media screen and (min-width: 1680px) {
            font-size: 15px;
          }
    }

    @media screen and (max-width: 479.98px){
      margin: 0 auto;
    }

    @media screen and(min-width:768px){
      width:260px;
      margin-right: 0;
      margin-left: 0;
    }
}
.first{
  font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.57;
    letter-spacing: 0.08em;

  color: #B9B9B9;
}
.second{
  color: var(--accent-color);
}
.hero__picture{
  margin-top: 40px;
  display: flex;
  justify-content: center;
  width: 100%;


}
@media screen and(max-width:320px){
  .hero-button{
     width:100%;
  }
}

@media screen and(min-width:768px){
  .hero {
      padding-top: 80px;
      padding-bottom: 44px;
      background-image: url(/images/heroImages/wave-tablet.svg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position-x:left;
    }
    .hero-container{
      display: flex;
    }

    .hero__picture{
      margin-top: 0;
    }
    .hero-container__main-title{
      font-weight: 800;
      font-size: 26px;
      line-height: 1.30;
      letter-spacing: 0.03em;
    }
    .hero-container__paragraph {
      margin-bottom: 48px;
    }

}

@media screen and(min-width:1680px){
  .two{
    display: none;
  }

.hero {
    padding-top: 40px;
    background-image: url(/images/heroImages/wave-desktop.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: left;
  }
  .hero-container__main-title{
    width: 560px;
    font-weight: 800;
      font-size: 58px;
      line-height: 1.29;
      letter-spacing: 0.03em;
  }
 .hero__picture {
   justify-content: right;
 }
.first{
  font-weight: 500;
  font-size: 20px;
  line-height: 1.65;
}
.paragraph-characteristic{
  font-weight: 700;
  font-size: 20px;
  line-height: 1.65;
}
.second{
  color: var(--primary-color);
}
.hero-button {
  width: 354px;
  height: 70px;
    font-weight: 700;
      font-size: 14px;
      line-height: 1.21;
      letter-spacing: 0.14em;
}
}
