.how-we-do-it__h2 {
    font-weight: 800;
    font-size: 20px;
    line-height: 1.3;
    /* or 26px */

    text-align: center;
    letter-spacing: 0.03em;

    color: var(--primary-color);

    margin-bottom: 32px;


    @media screen and (min-width: 768px) {
        font-size: 26px;
        margin-bottom: 40px;
    }

    @media screen and (min-width: 1680px) {
        font-size: 46px;
        text-align: left;
        margin-bottom: 80px;
    }
}


.how-we-do-it__list {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    
    @media screen and (min-width: 768px) {
        display: flex;
       
        flex-wrap: wrap;
        margin: -16px;
    }
}

    .how-we-do-it__link {
        padding: 32px 12px 8px 12px;
    }
    
    
    .how-we-do-it__item {
     
        width: 300px;
        height: 280px;
        box-shadow: 0px 8px 26px rgba(0, 0, 0, 0.1);
        
        transition: background-color var(--transition-duration) var(--timing-function);

        
        // &:hover{
        //     background-color: var(--accent-color);
        // }
        

           
        &:not(:last-child) {
            margin-bottom: 16px
        }
    
        @media screen and (min-width: 768px) {
            margin: 16px;
            width: 336px;
           height: 336px;
            
        };
                 @media screen and (min-width: 1680px) {
                width: 528px;
                    height: 492px;
                 }
    }
    
      
      
    .how-we-do-it__link {
        display: flex;
        flex-direction: column;
        text-decoration: none;
        width: 100%;
        height: 100%;

        &:hover,
            &:focus {
                background-color: var(--accent-color);
            }
        
        transition: background-color var(--transition-duration) var(--timing-function);
    
       
    
        @media screen and (min-width: 768px) {
            padding: 40px 20px 20px 20px;
        }
    
        ;
    
        @media screen and (min-width: 1680px) {
            padding: 90px 80px;
            
        }
    }
    
    
    
    .how-we-do-it__icon {
    
        margin: 0 auto;
        margin-bottom: 20px;
        fill: var(--accent-color);
        transition: fill var(--transition-duration) var(--timing-function);
    
        .how-we-do-it__link:hover &,
        .how-we-do-it__link:focus & {
            fill: var(--color-main)
        }
    
    }
    
    
    
    .how-we-do-it__title {
    
        font-weight: 700;
        font-size: 14px;
        line-height: 20px;
        /* or 143% */
    
        text-align: center;
        letter-spacing: 0.08em;
    
        color: var(--primary-color);
    
        margin-bottom: 4px;
        transition: color var(--transition-duration) var(--timing-function);
    
        &::after {
            content: "";
            display: block;
            margin: 10px auto;
            width: 20px;
            height: 2px;
            background-color: var(--accent-color);
          
            margin-bottom: 4px;
            transition: background-color var(--transition-duration) var(--timing-function);
    
            .how-we-do-it__link:hover &,
            .how-we-do-it__link:focus & {
                background-color: var(--color-main)
            }
    
            
    
            @media screen and (min-width: 768px) {
                margin-bottom: 8px;
            }
    
            
    
            @media screen and (min-width: 1680px) {
                margin-bottom: 4px;
    
                
            }
        }
    
        .how-we-do-it__link:hover &,
        .how-we-do-it__link:focus & {
            color: var(--color-main);
        }
    
        @media screen and (min-width: 768px) {
            margin-bottom: 8px;
        }
    
        
    
    
        @media screen and (min-width: 1680px) {
            font-size: 20px;
            line-height: 28px;
            margin-bottom: 4px;
    
    
        }
            
    }
    
        
    .how-we-do-it__text {
        font-weight: 500;
        font-size: 12px;
        line-height: 20px;
        /* or 167% */
    
        text-align: center;
        letter-spacing: 0.08em;
    
        color: var(--primary-color-text);
        transition: color var(--transition-duration) var(--timing-function);
    
        .how-we-do-it__link:hover &,
        .how-we-do-it__link:focus & {
            color: var(--color-main)
        }
    
        @media screen and (min-width: 1680px) {
            font-size: 18px;
            line-height: 28px;
        }
    }
    
    