.problems-section {
    background-image: linear-gradient(to bottom,
            var(--primary-color) 77%,
            var(--color-main) 77%);
            padding-bottom: 40px;

}



.problems-section__head {
    font-weight: 800;
    font-size: 24px;
    line-height: 1.3;
    letter-spacing: 0.03em;
    color: var(--color-main);
    margin-bottom: 24px;
}


.problems-section__accent {
    color: var(--accent-color);
}



@media screen and (max-width:1679) {
    .problems-section__item:nth-child(odd) {
        margin-right: 40px;
    }

}

@media screen and (max-width:767px) {
    .problems-section {
        padding-top: 24px;
    }

    .problems-section__list {
        padding: 20px 32px 24px;

     }

     .problems-section__items {
         max-width: 225px ;

     
    
    &:not(:last-child) {
        margin-bottom:16px; 
    }

}
    .problems-section__head {
        max-width: 280px;
    }
}

@media screen and (min-width:768px) {

    .problems-section {
        padding-top: 40px;
    }

    .problems-section__list {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: -40px;
        padding-left: 80px;
        padding-top: 40px;
       

    }

    .problems-section__items {
        width: 216px;
        margin-bottom: 40px;

    }
}


@media screen and (min-width:1680px) {

    .problems-container {
        background-image: url(../images/fi.svg);
        background-repeat: no-repeat;
        background-position: bottom 170px right 2px;
        
    }

    .problems-section {

       
        padding-top: 80px;
        
    }

    .problems-section__head {
        font-weight: 800;
        font-size: 46px;
        margin-bottom: 80px;
    }

    .problems-section__list {
        padding-left: 140px;
        padding-right:192px ;
        padding-top: 60px;
        padding-bottom: 60px;
        margin-bottom: -40px;
    }

    .problems-section__items {
        font-size: 20px;
        width: 336px;
        

        &:nth-child(3n+1) {
            margin-right: 85px;

        }

        &:nth-child(3n + 2) {
            margin-right: 222px;
        }
    }

}

.problems-section__list {
    box-shadow: -5px 8px 26px rgba(0, 0, 0, 0.04);
}